@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

/* ---------- THEME TRANSITIONS ---------- */
/* Apply only to common UI elements, not everything */

html,
body,
button,
a,
input,
textarea,
select,
header,
footer,
section,
article,
div {
  transition:
    background-color 0.25s ease,
    color 0.25s ease,
    border-color 0.25s ease;
}

/* ---------- BRAND UTILS ---------- */

.logo-letter-spacing {
  letter-spacing: 0.6em;
}



@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeUp {
  animation: fadeUp 0.8s ease-out forwards;
}
